{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %} 
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function() {

	  const $valueSpan = $('.valueSpan2');
	  const $value = $('#customRange11');
	  $valueSpan.html($value.val());
	  $value.on('input change', () => {

	    $valueSpan.html($value.val());
	});
	});

	$(function() {
    	$('button').click(function() {
	        $.ajax({
	            url: '{{ url_for("get_recommendations") }}',
	            data: $('form').serialize(),
	            type: 'POST',
	            success: function(response) {
	            	$('#product').empty();
	            	var json = JSON.parse(response);
	            	var perfume_data = json['data'];
	            	console.log(perfume_data);
	                $.each(perfume_data, function(index, value) {
	                	var name = "<h3>"+value[0]+"</h3>";
	                	var notes = "<h5>"+value[1]+"</h5>";
	                	var image_src = "<img src='"+value[2]+"' />";
	                	var product_img = "<div class='product-top text-center' id='productimg'>"+image_src+"</div>";
	                	var product_details = "<div class='product-bottom text-center' id='producttext'>"+name+notes+"</div>";
	                	var row = "<div class='col-md-12' id='single-product'>"+product_img+product_details+"</div>";
	                	$("#product").append(row);
	                	$("#heading").css("display", "block");
					});
	            },
	            error: function(error) {
	                console.log(error);
	            }
	        });
    });
});

</script>
{% endblock %}
{% block content %}
<div class='text-block center-element'> 
<form method="POST" id="perfume_form">
	<div class="form-group">
		<label for="search_query" class="sub-text">Please tell us what kind of perfume you are looking for </label>
		<textarea class="form-control" rows="5" id="comment" name="search_query"></textarea>
	</div>
	<div class="form-group">
		<label for="range" class="sub-text">How many recommendations do you want? </label>
	    <div class="d-flex justify-content-center my-4">
		  <div class="w-75">
		    <input type="range" class="custom-range" id="customRange11" min="1" max="10" name="range">
		  </div>
		  <span class="font-weight-bold text-primary ml-2 valueSpan2"></span>
		</div>
		<button type="button" class="btn btn-primary" id="search">Search</button>
	</div>
</form>
<section class="recommends">
  <div class="container">
    <div class="col-md-12 title-box" id="heading">
        <h2>Recommended Perfumes</h2>
    </div>
    <div class="row" id="product">
    </div>
  </div>
</section>
</div>
{% endblock %}